+b.ASIDE.aside
	+e.NAV.items
		ul
			li.category
				a(href="#")
					| Название категории
			li
				a(href="#" class="active")
					| Создать заказ
			li.aside-dropdown
				i
					i.fas.fa-angle-right
				a(href="#" class="navmenu-link-toggle no-click")
					| Категория с подменю
				+e.UL.submenu
					li
						a(href="#")
							| Мой профиль
					li
						a(href="#" class="active")
							| Статистика
					li
						a(href="#")
							| Баланс
					li
						a(href="#")
							| Выплаты
					li
						a(href="#")
							| Выход
			li
				a(href="#")
					| Финансы
			li.category
				a(href="#")
					| Название категории 2
			li
				a(href="#")
					| Статистика
			li.aside-dropdown
				i
					i.fas.fa-angle-right
				a(href="#" class="navmenu-link-toggle no-click")
					| Категория с подменю
				+e.UL.submenu
					li
						a(href="#" class="active")
							| Статистика
					li
						a(href="#")
							| Баланс
					li
						a(href="#")
							| Выплаты
					li
						a(href="#")
							| Выход
					li
						a(href="#")
							| Вход
					li
						a(href="#")
							| Вход
					li
						a(href="#")
							| Выход
					li
						a(href="#")
							| Вход
					li.current-menu-item
						a(href="#")
							| Вход
			li
				a(href="#")
					| Финансы
			li
				a(href="#")
					| Финансы
			li
				a(href="#")
					| Финансы
			li
				a(href="#")
					| Статистика